@import "./base.css";

.speakers .main_title {
  font-size: 98px;
}

.shopping-cart-icon--primary g path {
  fill: var(--color-primary);
}

.speaker_photo {
  width: 310px;
  height: 310px;
  object-fit: cover;
}

.speaker_photo--top {
  font-size: 32px;
}

.speaker_company {
  font-size: 24px;
}

.speaker_bio {
  font-size: 20px;
}

.speaker_company,
.speaker_bio {
    color: var(--color-text-on-secondary)
}